@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

:root{
    --dark-1 : #181818;
    --dark-2 : #474747;
    --dark-3 : #757575;
    --orange-color : #FD6E0A;
    --bg-color : #FFF8F3;
}



/* 
-------- Navbar section --------------
*/
nav{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15%;
    background-color: var(--bg-color);
}

nav h1{
    font-size: 30px;
    font-weight: 700;
}

nav h1 span{
    color: var(--orange-color);
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 10px;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    font-weight: 500;
    color: var(--dark-2);
    font-size: 16px;
}

.btn-primary{
    border: none;
    background-color: var(--orange-color);
    color: white;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}


/* 
----------- Hero Section --------------
*/
.hero-section{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    padding: 100px 0 0 15%;
    background-image: url("../assets/images/developer.png"), url("../assets/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: 40px 50%, right bottom;
}

.hero-section .hero-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.hero-section .hero-container{
    width: 50%;
}

.hero-container h3{
    font-size: 40px;
    color: var(--dark-2);
}

.hero-container h1{
    font-size: 60px;
    color: var(--dark-1);
    margin: 10px 0 20px;
}

.hero-container p{
    color: var(--dark-3);
    margin: 0 0 25px;
    line-height: 1.7;
}

.btn-secondary{
    border: 2px solid var(--orange-color);
    color: var(--orange-color);
    background-color: var(--bg-color);
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 20px;
}


/* 
------------- Main Section --------------
*/
.article-section{
    width: 100%;
    padding: 60px 15%;
}

.section-title{
    text-align: center;
    font-size: 36px;
    color: var(--dark-1);
}

.section-sub-title{
    color: var(--dark-2);
    line-height: 1.8;
    margin: 30px 0;
}

/* 
------------- About Section ---------------
*/
.about-section{
    width: 100%;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 120px 200px;
    text-align: center;
    margin: 50px 0;
}

.about-section .item-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.item-container p{
    margin: 10px;
    color: var(--dark-2);
}

/* 
------------- Skill Section -------------
*/
.skill-section{
    margin: 100px 0;
}

.skill-text{
    padding: 0 100px;
    text-align: center;
}

.skill-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 70px 0;
}

.skill-item{
    background-color: white;
    padding: 35px;
    box-shadow: rgba(100, 100, 111, 0.093) 0px 7px 29px 0px;
    border-radius: 5px;
}

.skill-item h3{
    margin: 20px 0;
    color: var(--dark-1);
}

.skill-item p{
    line-height: 1.8;
    color: var(--dark-2);
    text-align: justify;
}


/* 
------------- Resume section -----------
*/
.resume-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-sub-section{
    margin-top: 80px;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.resume-container{
    width: 50%;
}

.resume-container h2{
    color: var(--dark-2);
    font-size: 28px;
    margin: 20px 0;
}

.resume-item h3{
    font-size: 24px;
    color: var(--dark-2);
    margin: 20px 0 10px;
}

.resume-item h4{
    font-size: 19px;
    color: var(--dark-3);
    font-weight: 500;
    margin: 0 0 10px;
}

.resume-item p{
    color: var(--dark-3);
    margin: 10px 0 20px;
}

hr{
    border-top: 1px solid rgb(237, 237, 237);
    border-left: none;
}